*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background: rgba(255, 255, 255, 0.40);
    width: 100%;
}
.wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.wrapper>.invalid{
    display: none;
}
.burger{
    width: 1.567vw;
    height: 0.895vw;
    margin-left: 6vw
}
.logo_head{
    width: 3.385vw;
    height: 4.167vw;
    margin-left: 1vw;
}
nav{
    display: flex;
    align-items: center;
}
.text_header{
    color: black;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 5vw;
    width: 5vw;
    height: 2.188vw;
    top: 0.208vw;
    left: 0.833vw;
}
.text_header_1{
    margin-left: 7vw;
}
.search{
    width: 1.538vw;
    height: 1.358vw;
    transform: rotate(0.031deg);
    margin-left: 6vw;
}
ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
.invalid{
    margin-left: 6vw;
}
/*page1*/
body{
 padding: 0;
}
h2{
    color: #ffffff;
    width: 44.427vw;
    height: 5.938vw;
    top: 10.885vw;
    left: 22.031vw;
    font-size: 1.51vw;
    font-weight: 500;
    line-height: 2.292vw;
    letter-spacing: 0em;
    text-align: left;
}
h3{
    color: #ffffff;
    font-size: 1.042vw;
    font-weight: 500;
    line-height: 1.354vw;
    letter-spacing: 0em;
    text-align: left;
}
.ty{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.big_logo{
    width: 23.5%;
    margin-left: 2%;
}
.arrow-right{
    margin-left: 2vw;
    width: 1.719vw;
    height: 2.604vw;
}
.arrow-left{
    width: 1.719vw;
    height: 2.604vw;
}
.page1{
    display: flex;
    align-items: center;
    /* margin-left: 3.95vw; */
    background-image: url(./logo/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.8vw;
    flex-direction: row;
    justify-content: space-around;
}
/*page2*/
.page2{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.section_title{
    margin-top: 3vw;
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.719vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
}
.news_items{
    width: 88.95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3vw;
    
}
.news_card{
    display: flex;
    flex-direction: column;
    width: 21.23vw;
    margin-bottom: 2.93vw;
    background-color: #ffffff;
    border-radius: 0.73vw 0.73vw 0px 0px; 
    border-bottom: 1px solid #FEC22E;
    box-shadow: 0vw 0vw 1.042vw 0vw rgba(0, 0, 0, 0.20); 
}
.news_imgs{
    height: 16.76vw;
}
.text_news{
    margin-top: 1.5vw;
    font-size: 0.833vw;
    font-weight: 400;
    line-height: 0.99vw;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #ffffff;
    height: auto;
}
.data_news{
    background-color: #ffffff;
    font-size: 0.833vw;
    font-weight: 400;
    line-height: 0.99vw;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.text_page2{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.042vw;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    text-decoration: none;
}
/*Page3*/
.bydni_cards{
    width: 88.95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3vw;
    
}
.page3{
    background-color: #FEC22E;
}

.section_orange{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section_orange>.section_title{
    color: #BA3133;
}
.imgs_page3{
    margin: 0.7vw;
    width: 30.31vw;
    height: 18.3vw;
}
.bydni_cards{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.93vw;
    border-radius: 0.73vw 0.73vw 0px 0px;
    /* border-bottom: 1px solid #FEC22E; */
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
    width: 100vw;
}
.section_orange>.text_page2{
    display: flex;
    justify-content: center;
    color: #BA3133;
    text-decoration: none;
    margin-bottom: 3vw;
}
/*page4*/
.section_page4{
    display: flex;
    flex-direction: row;
    margin: 4vw 8vw;
}
.img_page4{
    width: 38.14vw;
    height: 48.10vw;
}
h4{
    color: #000;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_page4{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.text_page4_p{
    line-height: 2.20vw !important;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: auto;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}
.name{
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    margin-bottom: 1.90vw;
    width: 28.55vw;
}
.name_1{
    height: 2.34vw;
}
.name_2{
    height: 13.54vw;
}
.submit{
    width:7.17vw ;
    height:2.34vw ;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    background: #FEC22E;
    flex-shrink: 0; 
    border: 0;
    margin-top: 4.9vw;
}
/*page5*/
.page5{
    background-color: #FEC22E;
}
.section_page5>.section_title{
    display: flex;
    justify-content: center;
    color: #BA3133;
    text-decoration: none;
    margin-bottom: 3vw;
}
.cards_page5{
    /* width: 80vw; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.196vw;
}
.card_page5 p{
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    width: 24.96vw;
    color: #BA3133;
}
.card_page5 img {
    width: 24.96vw;
    height: 15.59vw; 
}
.card_1_3{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin-bottom: 4vw;
}
.card_3_5{
    display: flex;
    margin-bottom: 3vw;
    width: 58vw;
    justify-content: space-between;
    margin-bottom: 4vw;
}
h5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
/*Page6*/
.page6{
    display: flex;
    justify-content: center;
}
.section_page6{
    width: 88.87vw;
}
h6{
    color: #000;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    margin-bottom: 3.367vw;
}
.opross{
    margin-top: 3vw;
}
.opros{
    margin-bottom: 1.76vw;
    display: flex;
    align-items: center;
}
.check_box{
    margin-left: 30vw;
    width: 2.56vw;
    height: 2.49vw;
    fill: #FEC22E;
    background-color: #FEC22E;
}
.opross>.submit{
    margin-left: 40%;
    width: 18.59vw;
    height: 4.76vw;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.54vw;
}
.text_page6{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.opros_text{
    margin-left: 4%;
}
.opros_text{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 166.2%; /* 41.55px */
}
.opross>p{
    color: #A1A1A1;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.opross>p{
    color: #A1A1A1;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10.47vw;
}
input[type='checkbox'] {
    position: relative;
    background-color: #FEC22E;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 2vw;
  }

  input[type='checkbox']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
/*Page7*/
.page7{
    background: #FEC22E;
}
section>h5{
    display: flex;
    align-items: center;
    color: #BA3133;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.719vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    font-size: 33px; 
}
.cards_page7{
    width: 97.80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-around;
    padding-bottom: 8.42vw;
}
.card_page7>img{
    margin-left: 0.73vw;
}
.card_page7>p{

}
.card_page7{
    width: 23.35vw;
    height: 8.78vw;
    background-color: #FFF;
    margin-top: 2.34vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px; 
}
.card_text1{
    color: #BA3133;
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card_text2{
    color: #5F5F5F;
    text-align: center;
    font-family: 'Tilt Neon', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card_text_pag7{
    font-size: 1.318vw;
}
/*footer*/
footer{
    display: flex;
    height: 10vw;
    flex-shrink: 0;
    background: #BA3133;
    column-span: initial;
}
p{
    font-size: 0.625vw;
    font-weight: 400;
    line-height: 0.729vw;
    letter-spacing: 0em;
    text-align: left;
    height: 1.563vw;
}
.text_footer1{
    float: left;
    width: 55%;
    margin-top: 0.521vw; 
    margin-left: 1.563vw;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.text_footer2{
    float: right; 
    width: 49%; 
    margin-top: 0.521vw; 
    margin-left: 1.563vw;
    display: flex;
    align-items: center;
    color: #ffffff;
}


